# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=123456
DB_DATABASE=manager_group_test

# JWT Configuration
JWT_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9

# Application Configuration
NODE_ENV=development
PORT=3334

# API Configuration
API_PREFIX=api/v1
FRONTEND_URL=http://localhost:8080/

# Sentry Configuration
SENTRY_DSN=https://7c02a0236b02868cf8267bf7eca2ddf3@o4510002598313984.ingest.us.sentry.io/4510002604474368
SENTRY_ENVIRONMENT=local
